@import './base.css';

html {
  scrollbar-gutter: stable;
}

body {
  min-width: 320px;
  margin: 0;
  color: #26364d;
  background: #eef2f6;
}

#app {
  width: 100%;
  min-height: 100vh;
}

button,
input {
  font: inherit;
}
